body{
	background-color: #F9EBE0;
}
#box {
width: 300px; /* ширина блока*/
height: 200px; /* высота блока*/
border: 0px dotted black; /* рамка блока*/
background-color: #ccc; /* фон блока*/
padding:0px; /* отступы внутри блока*/
position:relative;
	right:100;
	top:100;
}
.object {
    position: absolute;
}
.youtube-icon:hover {
    fill: red;
}
.twitter-icon:hover {
    fill: rgb(145, 8, 199);
}
#bg span{
	background-color: #b7edc0;
	padding: 10px;
	border-radius: 10px;
}
#rr span{
	background-color: #b7edc0;
	padding: 10px;
	border-radius: 10px;
}
html, body {margin:0;
padding: 0;
}
p.ver{font-size:40px}
p.one{font-size:30px}
p.pop{font-size:25px}
form { padding:20px; }
h1 {padding:10px;}
ul.mainmenu {
list-style:none;
background: #3F4137;
height:70px;
margin:0px;
padding:0px;
color:#fdc073;
font-size:26px;
overflow:hidden;
}
ul.mainmenu li {
float:left;
margin: 10px 40px 0px 40px
}
ul.mainmenu li.last {
float:right;
}
ul.mainmenu a { color: #fdc073; text-decoration:none;}
ul.mainmenu a:hover { color: #A9D6AD; }

.flash {padding:10px;}
.flash.success{
border: 2px solid #21DB56;
background: #AEFFC5;
}
.flash.error {
border: 5px solid #FF4343;
background: #FF9C9C;
}

ul.list-posts {
list-style:none;
margin:0;
padding:0;
max-width: 800px;
}
ul.list-posts li {
margin: 20px 0px 20px 20px;
border: 1px solid #eee;

}

ul.list-posts .title {
margin: 0;
padding: 5px;
background: red;
}
ul.list-posts .annonce {
margin: 0;
padding: 10px 5px 10px 5px;
}