{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div id="bg">
<p class="ver"><span>Причины, последствия и решение проблемы вымирания животных</span></p>
<p class="pop">К животному миру относится все разнообразие живых организмов на Земле. Истребление животных — одна из важнейших экологических проблем. Причины и последствия этого процесса связаны как с миром природы, так и с человеком.</p>
	<p class="ver"><span>Причины вымирания животных</span></p>
<p class="pop">Многие виды животных исчезали до появления человека. Зарождение новых видов и вымирание старых — эволюционный процесс. Однако стремительное сокращение некоторых популяций напрямую связано с человеческим фактором.</p>
	<p class="ver"><span>Естественные факторы</span></p>
<p class="one">К естественным причинам исчезновения отдельных видов животных относятся:</p>
<p class="pop">-Изменение условий: например, значительное стабильное потепление или похолодание, увеличение или сокращение количества осадков, влияющих на влажность и растительный мир.</p>
<p class="pop">-Природные катастрофы: наводнения, пожары, ураганы, землетрясения, извержения вулканов.</p>
<p class="pop">-Болезни.</p>
<p class="pop">-Конкуренция с другими видами за территорию.</p>
<p class="pop">-Генетическое однообразие: если численность животных определенного вида снижается до критического уровня, возникает риск близкородственного скрещивания. Следовательно, повышается доля представителей вида с врожденными нарушениями и сниженной плодовитостью.</p>
<p class="pop">-Нарушение баланса между хищниками и жертвами.</p>
<p class="ver"><span>Антропогенные факторы</span></p>
<img src="/static/images_html/1.jpg" alt="Рыжий кот Кекс лежит у ноутбука." width="1024" height="683">
<p class="pop">Антропогенные факторы делятся на две категории: опосредованное влияние и непосредственное истребление.</p>
<p class="pop">Влияние на окружающую среду заключается в том, что человек уничтожает естественные места обитания животных, сокращает их кормовую базу:</p>
<p class="pop">-Вырубка лесов.</p>
<p class="pop">-Создание ГЭС, искусственных водохранилищ.</p>
<p class="pop">-Осушение рек, озер, изменение речного русла.</p>
<p class="pop">-Распахивание земель под пашни, расширение пастбищ.</p>
<p class="pop">-Загрязнение воды, почвы и воздуха.</p>
<p class="pop">-Строительство.</p>
<p class="pop">-Добыча полезных ископаемых.</p>
<p class="pop">-Изменение экосистемы через распространение видов, нетипичных для данной территории (например, ввоз европейских кроликов в Австралию).</p>
	<p class="ver"><span>Последствия уничтожения животных</span></p>
<p class="pop">Последствия делятся на две категории в зависимости от урона, нанесенного животному миру: глобальные и видовые.</p>
<p class="pop">глобальные последствия связаны с изменением экосистем, когда происходит уничтожение животных нескольких видов на одной территории. Это важная экологическая проблема: влияние человека нередко приводит к деградации животного мира, то есть сокращению и вымиранию видов. Например, последствиями окультуривания почв под пашни являются вырубка лесов или осушение болот, борьба с вредителями — насекомыми и грызунам. Значит, одни виды лишаются привычной среды обитания, а других отстреливают или травят.</p>
<p class="pop">Видовые последствия негативно сказываются на представителях одного вида. Нанося урон экологии, человек отрицательно влияет на жизнь животных, их кормовую базу, вынуждает мигрировать или охотится на них, прямо сокращая численность.</p>
	<p class="ver"><span>Меры по охране животного мира</span></p>
<p class="pop">Деградация животного мира — значимая экологическая проблема. Для ее решения принимаются меры на уровне мирового сообщества и на уровне отдельных государств.</p>
<p class="one">На мировом уровне:</p>
<p class="pop">-Создание Красной книги.</p>
<p class="pop">-Отслеживание редких и исчезающих видов.</p>
<p class="pop">-Искусственное разведение в питомниках, заповедниках, зоопарках.</p>
<p class="pop">-Создание и внедрение экологических программ, направленных на защиту животных от истребления.</p>
<p class="pop">-Пропаганда экологического мировоззрения.</p>
<p class="pop">-Установление правил поведения в природе (уборка мусора, меры противопожарной безопасности, запрет на попытки одомашнить детенышей диких видов).</p>
<p class="pop">-Создание генных банков, где хранятся замороженные генетические образцы представителей исчезающих видов.</p>
	<p class="ver"><span>Многие виды животных истреблены человеком, они считаются вымершими.</span></p>
<p class="pop">-Додо (маврикийский дронт): после прибытия на родину додо, остров Маврикий, людей птица быстро оказалась уничтожена и в наше время стала символом уничтожения животных из-за варварского вторжения в среду их обитания;</p>
<p class="pop">-Смеющаяся сова из Новой Зеландии вела наземный образ жизни и была уничтожена кошками и горностаями, которых европейцы привезли с собой для борьбы с крысами;</p>
<img src="/static/images_html/2.jpg" alt="Рыжий кот Кекс лежит у ноутбука." width="850" height="683">
<p class="pop">-Странствующий голубь из Северной Америки пострадал из-за массовой охоты и вырубки лесов — его естественной среды обитания.</p>
<img src="/static/images_html/7.jpg" alt="Рыжий кот Кекс лежит у ноутбука." width="1024" height="683">
<p class="pop">-Новозеландская моа — огромная птица без крыльев — были уничтожена аборигенами.</p>
<img src="/static/images_html/5.jpg" alt="Рыжий кот Кекс лежит у ноутбука." width="1024" height="683">
<p class="pop">-Бескрылая гагарка стала жертвой из-за мяса и пуха.</p>
<p class="pop">-Квагга были приручены человеком для охраны стад, но буры убивали квагг из-за мяса и шкур.</p>
<p class="pop">-Стеллерова корова совсем не боялась человека — ему потребовалось меньше 30 лет, чтобы уничтожить всю популяцию.</p>
<p class="pop">-Сумчатый (тасманийский) волк был истреблен как враг домашних овец.</p>
<p class="pop">-Туранский (каспийский) тигр признан исчезнувшим в 1970 г.</p>
<p class="pop">-Варрах (фолклендская лисица) — единственный хищник на Фолклендских островах — была уничтожена как источник пушистого меха.</p>
<p class="pop">-Олень Шомбургка пострадал из-за прямого уничтожения (его рога использовались в традиционной медицине) и из-за превращения его среды обитания в плантации риса.</p>
<p class="pop">-Животные, находящиеся под угрозой вымирания.</p>
<p class="one">Среди зверей, птиц, рыб и насекомых, населяющих планету, есть те, чья популяция пугающе мала. К ним относятся:</p>
<p class="pop">-Северный белый носорог, в мире осталось только две особи этого вида.</p>
<img src="/static/images_html/4.jpg" alt="Рыжий кот Кекс лежит у ноутбука." width="1024" height="683">
<p class="pop">-Яванских носорогов больше: “целых” 60, но это катастрофически мало для выживания популяции.</p>
<p class="pop">-Мадагаскарских нырков из семейства утиных тоже не более сотни во всем мире.</p>
<p class="pop">-Кошачьих лемуров сейчас более двух тысяч, но их популяция сократилась на 95% всего за 20 лет.</p>
	<p class="ver"><span>Животные, которых удалось спасти от вымирания</span></p>
<p class="pop">-К счастью, человек может не только истреблять, но и сохранять.</p>
<p class="pop">-Лысый орел: их численность сократилась с полумиллиона особей до 412, но вовремя принятые меры позволили виду частично восстановиться (до 70 тысяч птиц).</p>
<p class="pop">-Серые киты находились под угрозой из-за китобойного промысла, но сейчас он под строгим запретом.</p>
<p class="pop">-Морских львов исключили из списка исчезающих видов, а ведь к концу 1990-х гг их численность сократилась на 80%.</p>
<p class="pop">-Сапсан сильно пострадал из-за применения ДДТ, но сейчас его численности ничто не угрожает.</p>
<img src="/static/images_html/6.jpg" alt="Рыжий кот Кекс лежит у ноутбука." width="1024" height="683">
<p class="pop">-Белки-летяги также были спасены от вымирания.</p>
<img src="/static/images_html/3.jpg" alt="Рыжий кот Кекс лежит у ноутбука." width="1024" height="683">
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

{% endblock %}
